.content {
  border: 2px solid var(--primary);
  background: var(--light-bg);
  border-radius: 10px;
  text-align: center;
  margin: auto;
  margin-bottom: 25px;
  padding: 30px;
}

.content h6 {
  color: gray;
  padding-bottom: 10px;
}

@media screen and (max-width: 750px) {
  .content{
    width: 100%;
  }
}