.form-container img{
  width: 7rem;
  border-radius: 5rem;
}

input[type="password"] {
  width: 100%;
}

.input-container {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 10%;
  left: .75rem;
}

input{
  padding-left: 3.25rem;
}