.form-container img{
  width: 10rem;
  border-radius: 5rem;
}

.login-container {
  width: 27rem;
}

.login-parent{
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

input[type="password"] {
  width: 100%;
}

.input-container {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 10%;
  left: .75rem;
}

.input-container input {
  padding-left: 3.25rem;
}