button {
    border: 1px solid #d87093;
    background: #d87093;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    box-shadow: 10px 10px 5px rgb(216, 112, 147,0.8);
    transition: 0.3s ease;
}

button:hover {
    background: #d87093;
    box-shadow: 0 0;
}