.hero-box {
  background-color: var(--primary);
  border-radius: 10px;
  text-align: center;
  height: 9rem;
  aspect-ratio: 1/1;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-box h3 {
  color: white;
}

.hero-box img {
  margin: 0 auto;
}

.hero-box p {
  color: white;
  font-size: 14px;
  margin: 0 1rem;
}

@media screen and (max-width: 420px) {
  .hero-box {
    width: 148px;
    height: 148px;
  }

  .hero-gal {
    width: 100%;
  }
}