.hero-gal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.hero-box {
    border: 1px solid gray;
    background-color: rgb(128, 128, 128,0.7);
    border-radius: 10px;
    width: 144.32px;
    height: 121.6px;
    text-align: center;
    padding: 5px;
    margin: 15px;
}

.hero-box h3 {
    color: white;
    padding-top: 10px;
}

.hero-box p {
    color: white;
    font-size: 14px;
}

.cpost {
text-align: center;
}