table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgb(128, 128, 128, 0.4);
    background: rgb(128, 128, 128, 0.4);
}

table td {
    border-bottom: 1px solid rgb(128, 128, 128, 0.4);
    text-align: left;
    padding: 8px;
  }

table th {
    border-bottom: 1px solid rgb(128, 128, 128, 0.4);
    padding: 8px;
    background: white;
}

.pagination {
    margin: 10px;
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #081F4B;
    color: white;
    border-radius: 10px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #FF6882;
    border-radius: 10px;
  }