.auth-hero-container {
  background-color: black;
}

.auth-container {
  background-color: var(--light-bg);
}

.auth-up-container {
  height: 90vh;
}

img.signupHero {
  width: 100%;
}


.login-hero img {
  width: 23rem;
}

.login-hero p {
  font-size: 1.25rem;
}

.login-hero h2 {
  font-size: 2.75rem;
}

.auth-hero-container img {
  width: 35rem;
}