/*-------------
Reusable css
-------------*/
.auth-hero-container {
  background-color: black;
}

.auth-container {
  background-color: var(--light-bg);
}

.auth-up-container {
  height: 90vh;
}

/*-------------
Sign up css
-------------*/
.welcome-msg{
  max-width: 80%;
  margin: 0 auto;
  color: white;
}

.welcome-msg img{
  width: 100%;
  max-width: 35rem;
}

img.sign-up-hero {
  width: 100%;
}


/*-------------
Log in css
-------------*/
.login-hero img {
  width: 23rem;
}

.login-hero p {
  font-size: 1.25rem;
}

.login-hero h2 {
  font-size: 2.75rem;
}

/*------------------
Auth responsiveness
------------------*/
@media screen and (max-width: 1180px) {
  .login-hero h2 {
    font-size: 2.25rem;
  }

  .login-hero .login-hero-text {
    width: 81%;
  }
}

@media screen and (max-width: 1024px) {
  .login-hero h2 {
    font-size: 1.75rem;
  }

  .login-hero p {
    font-size: .95rem;
  }
}

@media screen and (max-width: 414px) {
  .login-hero h2{
    font-size: 2rem;
  }

  .login-hero .login-hero-text{
    width: 90%;
  }
}