.row {
  margin: 0;
  padding: 0;
}

input{
  padding-left: 3rem;
}

.login-header {
  position: absolute;
  width: 100%;
}

.login-header nav{
  max-width: 90%;
}

.login-header a{
  background-color: black;
  padding: .25rem 1rem;
  border-radius: 1rem;
  color: white;
}