.row {
  margin: 0;
  padding: 0;
}

input{
  padding-left: 3rem;
}

.login-header {
  position: absolute;
  width: 100%;
}

.login-header nav{
  max-width: 90%;
}

.login-header a{
  background-color: black;
  border-radius: 1rem;
  color: white;
}

.login-header a.lnk{
  padding: .25rem 1rem;
}

@media screen and (max-width: 700px) {
  .login-header img{
    width: 9rem;
  }

  .login-header a.lnk{
    background-color: white;
    color: black;
  }
}