.nwslttr {
    margin-top: 20px;
    background: rgb(128, 128, 128, 0.5);
    border-radius: 10px;
    padding: 35px;
}

.Cntnt1 p{
    width: 250px;
    color: gray;
}

.frm {
    margin-top: 20px;
}

.frm input {
    margin: 10px;
    padding: 10px;
    width: 100%;
    background: transparent;
    border-bottom: 1px solid gray;
}