.nwslttr {
    background: rgb(128, 128, 128, 0.8);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 30px;
    padding: 55px;
    max-height: 430px;
}

.Cntnt1 p{
    color: rgb(0, 0, 0);
}

.frm {
    margin-top: 20px;
}

.frm input {
    margin: 10px;
    padding: 10px;
    width: 100%;
    background: transparent;
    border-bottom: 1px solid gray;
}

.frmIcn {
    display: flex;
}

.frmIcn ::placeholder {
    color: white;
}
.prfl {
    margin-top: 25px;
}

.frmbtn {
    margin-bottom: 30px;
}