.nwslttr {
    margin-top: 20px;
    background: rgb(128, 128, 128, 0.5);
    border-radius: 10px;
    padding: 55px;
    height: 400px;
}

.Cntnt1 p{
    width: 250px;
    color: gray;
}

.foootertxt {
    background: black;
}

.frm {
    margin-top: 20px;
}

.frm input {
    margin: 10px;
    padding: 10px;
    width: 100%;
    background: transparent;
    border-bottom: 1px solid gray;
}

.frmIcn {
    display: flex;
}

.frmIcn ::placeholder {
    color: white;
}
.prfl {
    margin-top: 25px;
}

.frmbtn {
    padding: 25px;
}