.form-container{
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  border-radius: .5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: auto;
  max-width: 34rem;
}

.form-container input{
  border-radius: .25rem;
  border: 1px solid black;
  height: 41px;
  padding-left: 1rem;
  color: black;
}

.form-container input[type="number"] {
  width: 100%;
}

.form-container input[type="checkbox"]+a {
  text-decoration: none;
}

.form-container input[type="checkbox"] {
  border-radius: 10px;
}

.form-container input[type="submit"] {
  background-color: var(--primary);
  color: #fff;
}

.form-container input.phone-number{
  width: 100%;
}

.form-container form p{
  color: black;
}

.form-container form a{
  text-decoration: underline;
  color: var(--secondary);
}

.form-container form a:hover{
  color: var(--secondary);
}

.verify-btn{
  background-color: var(--primary);
  width: 100%;
  padding: 8;
  color: white;
}

.signup-form-container .signup-tabs{
  background-color: var(--primary);
  width: 10rem;
  margin: 0 auto;
  padding: .25rem;
  border-radius: 2rem;
  color: white;
}

.signup-form-container .signup-tabs .tabs{
  border-radius: 2rem;
}

.signup-form-container .signup-tabs .tabs input{
  position: absolute;
  width: 5rem;
  opacity: 0;
}

.signup-form-container .signup-tabs .tabs label{
  padding: .5rem;
  font-weight: bold;
}

.signup-tabs .tabs.active{
  background-color: var(--secondary);
}

/*---------------------------
Signup form responsiveness
---------------------------*/
@media screen and (max-width: 1024px) {
  .form-container {
    width: auto;
    max-width: 29rem;
  }
}


@media screen and (max-width: 414px) {
  .form-container{
    width: auto;
    max-width: 20rem;
  }
}

