.form-container{
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  border-radius: .5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.form-container input{
  border-radius: .25rem;
  border: 1px solid black;
  height: 41px;
  padding-left: 1rem;
  color: black;
}

.form-container input[type="number"] {
  width: 100%;
}

.form-container input[type="checkbox"]+a {
  text-decoration: none;
}

.form-container input[type="checkbox"] {
  border-radius: 10px;
}

.form-container input[type="submit"] {
  background-color: var(--primary);
}

.form-container input.phone-number{
  width: 100%;
}

.form-container form p{
  color: black;
}

.form-container form a{
  text-decoration: underline;
  color: var(--secondary);
}

.form-container form a:hover{
  color: var(--secondary);
}

.verify-btn{
  background-color: var(--primary);
  width: 100%;
  padding: 8;
  color: white;
}