.custom-shape-divider-top-1679245457 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-top-1679245457 svg {
    position: relative;
    display: block;
    width: calc(137% + 1.3px);
    height: 170px;
}

.custom-shape-divider-top-1679245457 .shape-fill {
    fill: palevioletred;
}