.login-hero-container{
  background-color: black;
}

.signup-container {
  background-color: var(--light-bg);
}

.sign-up-container {
  height: 90vh;
}

img.signupHero{
  width: 100%;
}


.login-hero img{
  width: 23rem;
}

.login-hero p {
  font-size: 1.25rem;
}

.login-hero h2{
  font-size: 2.75rem;
}

.login-hero-container img{
  width: 35rem;
}

.signin-container{
  background-color: var(--light-bg);
}