.modal {
  background-color: var(--light-bg);
  width: 50rem;
  max-width: 100%;
  border: 2px solid #232B40;
  transform: translate(-50%, -50%);
}

.modal textarea[type="summary"] {
  height: 13rem;
  outline: none;
}

.modal .modal-category,
.modal .modal-body input,
.modal .modal-body textarea{
  background-color: var(--primary);
  border-radius: .75rem;
  padding: .75rem;
  color: white;
}

.modal .modal-header{
  border-bottom: 2px solid var(--primary);
}

img.image-preview{
  width: 120px;
  aspect-ratio: 1/1;  
}