.mssgeBox {
  border: 2px solid var(--primary);
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.ttle {
  display: flex;
  background-color: var(--primary);
  border-radius: 9px 9px 0 0;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: .25rem;
}

.ttle h6{
  margin: 0;
}

.ttle img{
  width: 3rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.mssgeBox p {
  padding: 1rem 0 1rem 1rem;
}

.mssgeBox p.codename{
  padding: 0 1rem 1rem 0;
}

.btnMssge {
  background-color: white;
  max-width: 100%;
  border-radius: 0 0 9px 9px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  display: flex;
  background-color: var(--primary);
  gap: .5rem;
}

.btn2 {
  background-color: var(--light-bg);
  font-size: 12px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.btn2:hover{
  background-color: var(--light-bg);
  opacity: .8;
}

