.boxMssage {
    border: 1px solid white;
    background-color: rgb(240, 248, 255, 0.7);
    width: 30%;
    max-height: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px 10px;
    overflow: auto;
    cursor: pointer;
}

#name {
    padding-top: 10px;
    text-align: end;
}