.sidenav{
  background-color: #B7B7B7;
  height: 45rem;
  border-radius: 1rem;
}

.sidenav-head img {
  width: 3rem;
  margin: 1rem 0 0 1rem;
}

.sidenav h2{
  font-weight: 300;
}

.sidenav ul li{
  font-size: 1.20rem;
}

.sidenav ul:hover{
  background-color: white;
}

.sidenav ul.active {
  background-color: #939393;
}