.row {
    margin: 0;
    padding: 0;
}

.sidenav{
    height: 100vh;
    top: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.5); 
}

  .sidenav ul {
    list-style-type: none ;
    position: relative;
    width: 100%;
  }

  .sidenav ul li a{
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 1.30rem;
    height: 100vh;
    font-family: arial;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    padding: 10px 30px;
    height: 70px;
    transition: .3s ease;
    border-radius: 0 30px;
  }

  .sidenav ul li a:hover {
    background: rgb(0, 0, 0, 0.7);
    color: white;
    } 

    .sidecontent {
        padding: 50px;
    }

    .sidecontent h1 {
        margin-bottom: 15px;
    }

    .sidecontent p {
        display: flex;
        justify-content: flex-start;
    }
