.sidenav{
  width: 15rem;
}

.section-icon .icon{
  width: 1.7rem;
  height: 1.7rem;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .50rem;
}

.section-icon .icon svg{
  color: white;
}

.sidenav h2{
  font-weight: 600;
  font-size: 1.25rem;
}

.sidenav ul{
  font-weight: 700;
}

.sidenav ul:hover .icon{
  background-color: var(--primary);
}

.sidenav ul:hover{
  color: var(--primary);
}

.sidenav ul.active {
  color: var(--primary);
}

.sidenav ul.active .icon{
  background-color: var(--primary);
}