.side {
  background-color: rgb(0, 0, 0, 0.1);
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  min-height: 850px; 
}

.sidenav{
  height: 100vh;
  margin: 0;
  width: 100%;
  border-radius: 10px;
}

.sidenav ul {
  list-style-type: none ;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  padding-top: 20px;
}

.sidenav ul li a{
  text-align: center;
  align-items: center;
  display: flex;
  font-size: clamp(0.9375rem, 0.1563rem + 2.5vw, 1.5625rem);
  font-family: arial;
  text-decoration: none;
  text-transform: capitalize;
  color: rgb(255, 254, 254);
  padding: 10px;
  height: 70px;
  transition: .3s ease;
  border-radius: 0 50px;
}

.sidenav ul li a:hover {
  background: rgba(255, 255, 255, 0.7);
  color: rgb(0, 0, 0);
} 

.sidecontent {
  padding: 50px;
}

.sidecontent h1 {
  margin-bottom: 15px;
}

.sidecontent p {
  display: flex;
  justify-content: flex-start;
}
