.emo-box {
    border: 1px solid rgb(255, 255, 255, 0.7);
    background-color: white;
    border: 2px solid black;
    width: 10rem;
    border-radius: 10px;
    aspect-ratio: 1/1;
    color: white;
}

.emo-box p{
    color: black;
    text-align: center;
}

.emo-box img{
    width: 5rem;   
    height: 5rem;
    margin: 0 auto;
}

@media screen and (max-width: 430px) {
    .emo-box{
        width: 8rem;
    }
}