.emo-box {
    border: 1px solid rgb(255, 255, 255, 0.7);
    background-color: var(--primary);
    margin-bottom: 2rem;
    width: 10rem;
    border-radius: 10px;
    aspect-ratio: 1/1;
    color: white;
}

.emo-box img{
    width: 5rem;   
}
