.emo-box {
    border: 1px solid rgb(255, 255, 255, 0.7);
    background-color: rgb(255, 255, 255, 0.7);
    width: 150px;
    height: 140px;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


