.footer {
    flex-wrap: wrap;
    background-color: #081F4B;
}

.footer .row {
 width: 100%;
}

.footer1 {
    text-align: center;
    background: #081F4B;
    color: white;
    padding: 35px;
}

.footer1 p {
    color: white;
    padding: 20px;
}

.address{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
}

.addressIcon span{
 padding-left: 10px;
}

.footer2 {
    background: #101232;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    padding-top: 35px;
}

.foootertxt {
    background: black;
    border-radius: 15px;
}

.footer2 p, a {
    color: white;
}

.footer2 a {
    color: white;
}

.footer a:hover{
    color: palevioletred;
}


.footer-content h4{
padding-top: 10px;
padding-bottom: 25px;
padding-right: 15px;
}

.footer-content .icn {
    color: palevioletred;
}

#add-icn {
    color: palevioletred;
}
.frmIcn1 {
    display: flex;
    color: white;
    padding: 25px;
    border-radius: 25px;
}

.frmIcn1 input {
    color: white;
    margin: 10px;
    padding: 10px;
    width: 100%;
    background: #101232;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid gray;
}

.frmIcn1 ::placeholder {
    color: white;
}
.prfl {
    margin-top: 25px;
}

.frmbtn {
    padding: 25px;
}