.footer{
    background-color: var(--primary);
}

.footer img{
    height: 10rem;
    aspect-ratio: 255px/230px;
    margin: 0 auto;
}

.footer .footer-child div:nth-child(1){
    width: 40%;
}

.footer .footer-child div:nth-child(2),
.footer .footer-child div:nth-child(3),
.footer .footer-child div:nth-child(4){
    width: 20%;
}

.footer h1{
    font-weight: 600;
    color: white;
}

.footer p{
    color: rgba(255, 255, 255, 0.6);
}

.footer article{
    color: var(--pink);
}

@media screen and (max-width: 664px) {
    .footer .footer-child div:nth-child(1),
    .footer .footer-child div:nth-child(2),
    .footer .footer-child div:nth-child(3),
    .footer .footer-child div:nth-child(4){
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .footer-child{
        display: block;
    }
}