.pagination {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #081F4B;
  color: white;
  border-radius: 10px;
}

.pagination a:hover:not(.active) {
  background-color: rgb(8, 31, 75, 0.5);
  border-radius: 10px;
}