.Content {
  border: 2px solid var(--primary);
  background: var(--light-bg);
  border-radius: 10px;
  text-align: center;
  margin: auto;
  margin-bottom: 25px;
  padding: 30px;
}

.Content Button{
  margin-left: 1rem;
}

.Content h6 {
  color: gray;
  padding-bottom: 10px;
}

.button1 {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px;
  font-size: 15px;
  margin-right: 15px;
  background: rgb(128, 128, 128, 0.5);
}

.btn:hover {
  color: black;
  border: 1px solid gray;
  background: whitesmoke;
  border-bottom: 0 5px 5px 5px;
}

.hdng {
  padding-left: 120px;
}

.modalBody input::placeholder{
  color: white;
}

#cdenme{
  padding: 10px;
  border-radius: 10px;
  background: rgb(128, 128, 128, 0.5);
}

#modalHrt{
  width: 100px;
}

.modalMssg input, textarea{
  border: 1px rgb(128, 128, 128, 0.5);
  background: rgb(128, 128, 128, 0.5);
  border-radius: 10px;
  width: 100%;
  padding: .5rem;
}

#modaltxt {
  height: 250px;
}

.modalFtr {
  justify-content: center;
}

.modalBtn{
  border: 1px var(--secondary);
  background: rgb(128, 128, 128, 0.5);
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  text-align: center;
}

.modalBtn:hover {
  background: transparent;
  box-shadow: 0 5px 8px 3px;
  cursor: pointer;
}

textarea[type="summary"]{
  height: 13rem;
}

@media screen and (max-width: 750px) {
  .Content{
    width: 100%;
  }
}