.hstrySction {
    background: rgb(128, 128, 128, 0.5);
    width: 100%;
    height: 100%;
    padding: 45px;
    font-size: clamp(0.625rem, -0.1563rem + 2.5vw, 1.25rem);
}

.hstryTxt {
    margin-top: 40px;
    margin-left: 40px;
}

.hstryTxt h5 {
    color: gray;
}

.hstryCntnt {
    margin-left: 40px;
}

.hstryIcon {
    display: flex;
    letter-spacing: 3px;
    padding-top: 25px;
}

.hstryIcon p {
    padding-left: 10px;
}

#nmber {
    color: gray;
    padding-right: 10px;
}

.Cntnt {
    padding-left: 50px;
    padding-top: 10px;
    border-left: 1px solid;
    margin-left: 8px;

}