.hstrySction {
    background: #081F4B;
    width: 100%;
    height: 100%;
    padding: 45px;
    font-size: clamp(0.625rem, -0.1563rem + 2.5vw, 1.25rem);
}

.hstryTxt {
    margin-top: 40px;
    margin-left: 40px;
}

.hstryTxt h5, h3 {
    color: rgb(255, 255, 255);
}

.hstryCntnt {
    margin-left: 40px;
}

.hstryCntnt span {
    color: black;
}

.hstryIcon {
    display: flex;
    letter-spacing: 3px;
    padding-top: 25px;
    color: black;
}

.hstryIcon p {
    padding-left: 10px;
}

#nmber {
    color: gray;
    padding-right: 10px;
}

.Cntnt {
    padding-left: 50px;
    padding-top: 10px;
    border-left: 1px solid black;
    margin-left: 8px;
}

.Cntnt p {
    color: white;
}