section {
    margin-top: 10%;
}

.container {
    text-align: center;
}

.container .emo-gal  {
    margin-top: 70px;
}

button {
    padding: 20px;
    border: 1px solid white;
    color: white;
    background-color: darkgray;
    transition: 0.3s;
    border-radius: 10px;
}

button:hover {
    color: black;
    background-color: aliceblue;
    box-shadow: 10px;
    border-radius: 10px;
}

.btn {
    margin-top: 20px;
}
