section{
  margin-top: 10%;
}

.home-container{
  text-align: center;
}

.home-container .emo-gal {
  margin-top: 70px;
}

.home-container button{
  padding: 20px;
  border: 1px solid white;
  color: white;
  background-color: darkgray;
  transition: 0.3s;
  border-radius: 10px;
}

.home-container button:hover{
  color: black;
  background-color: aliceblue;
  box-shadow: 10px;
  border-radius: 10px;
}

.home-container .btn{
  margin-top: 20px;
}
