main.main-content{
  display: flex;
  align-items: center;
  height: 90vh;
}

main.main-content p{
  font-size: 1.10rem;
}

.home-section {
  text-align: center;
}

.hme {
font-size: larger;
padding-top: 90px;
padding-bottom: 90px;
}

.hme h3 {
  padding-bottom: 20px;
}

.hme p {
  color: gray;
}

.hmbtn {
  margin-top: 10px;
}

.hmbtn p {
  padding-top: 80px;
  padding-bottom: 15px;
}

.hmbtn button {
  margin-right: 20px;
}


.scl {
  margin-top: 50px;
}

.icn {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.icn a {
  margin: 10px;
}

#mssn {
  max-width: 103%;
}

.nwsltt {
background:#D9D9D9 ;
border-radius: 10px;
margin-top: 20px;
height: 60vh;

}

.nwslttr1 {
padding-top: 80px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: 10px;
}

.nwslttr1 p {
  padding-top: 10px;
}