@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --primary: #081F4B;
  --secondary: #3F1673;
  --pink: #FF6882;
  --light-bg: #EFFDFF;

  --text-color-gray: #565D59;
  --bg-gray: #252826;
  --bg-black: #0D0D0D;
}

#root{
  margin: 0 auto;
}

body {

  font-family: 'Poppins', sans-serif;
  background-color: var(--light-bg);
}

a{
  color: var(--text-color);
  text-decoration: none;
}

a:hover{
  color: var(--text-color);
}

ul,
p{
  margin-bottom: 0;
}

nav{
  height: 5rem;
}

input{
  border: none;
  outline: none;
}

input::placeholder{
  color: white;
}

ul li{
  list-style-type: none;
}

button{
  border: 0;
  border-radius: .35rem;
}

/*-------------
Responsive css
-------------*/
@media screen and (max-width: 720px) {
  nav{
    max-width: 100%;
  }
}
